body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-color: #fdc3c9;
  }
  
  .container {
    position: relative;
  }
  .valentines {
    position: relative;
    top:50px;
    cursor: pointer;
    animation: up 3s linear infinite;
  }
  .card {
    position:relative;
    background-color: #ecbae6;
    width: 470px;
    height: 770px;
    bottom: 90px;
    left:15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -5px -5px 100px rgba(0,0,0,0.4); 
    animation: slide 2s ease-in-out infinite;  
  }
  
  @keyframes cd {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100px);
    }
  }
  .card:before {
    content:"";
    position: absolute;
    border:3px solid #7207a3;
    border-style: dotted;
    width: 440px;
    heighT: 740px;
    left:12px;
    top:12px;
    bottom: 0px;
  }
  
  .text {
    position: absolute;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
    text-align: center;
    line-height:25px;
    top:19px;
    left:20px;
    color: #003049;
  }
  .texts {
    position: absolute;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
    text-align: center;
    line-height:25px;
    top:49px;
    left:30px;
    color: #003049;
  }
  .p {
    position: absolute;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
    text-align: center;
    line: height 3px;
    top:100px;
    left:30px;
    color: #003049;
  }


  .shadow {
    position:absolute;
    width: 400px;
    height: 45px;
    border-radius:50%;
    background-color: rgba(168, 11, 11, 0.3);
    text-align: center;
    margin-top: 880px;
    animation: scale 3s linear infinite;
    z-index:-1;
    left: 740px;
  }
  
  @keyframes up {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }
  
  @keyframes scale {
    0%, 100% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(0.85);
    }
  }
  